{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/homepage.css') }}">
{% endblock %}

{% block title %}RestPin.
{% endblock %}

{% block body %}

	<body class="main-container">

		{% for post in posts|reverse %}

			<div class="post-f">

				<li>

					<a class="image-post" href="{{ path('app_post_details', {'id': post.id}) }}"></a>

					<div class="d">
						<p>{{ post.description }}</p>

						<p>publié le :
							{{ post.createdAt|date('d/m/Y' ) }}
							à
							{{ post.createdAt|date('h:i' ) }}
						</p>

						{# <p>{{ post.author_id }}</p> #}
					</div>

				</li>

			</div>

		{% endfor %}

	</body>


{% endblock %}
