{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Page d'accueil !</h1>

<p>Vous êtes sur la page d'accueil depuis la vue du homeController</p>

<h1>Voici les liens possible à mettre dans l'url du site :</h1>

<ul>
    <p>lien du register :</p>
    <li>/register</li>

    <p>liens du login :</p>
    <li>/login</li>

    <p>liens de la page d'accueil :</p>
    <li>/</li>

<ul>

    {% for post in posts %}
        <li>
        <p class='start-thread'>id du post: {{ post.id }} </p>
           <a href="{{ path('app_post_details', {'id': post.id}) }}"></a>
           <p>{{ post.description }}</p>
           <p>publié le :  {{ "now"|date("m/d/Y") }} à {{ "now"|date("h:i") }}</p>
           <hr>
        </li>
    {% endfor %} 
</ul>

<style>

ul,
li {
    list-style: none;
}
</style>
{% endblock %}
