{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/homepage.css') }}">
{% endblock %}

{% block title %}RestPin.
{% endblock %}

{% block body %}

	<main class="main-container">

		{% for post in posts|reverse %}

			<div class="post-f">

					<img class="image-post" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.body }}">

						<div class="infosPost">

							<p>{{ post.body }}</p>

							<p>publié le :
								{{ post.createdAt|date('d/m/Y' ) }}
								à
								{{ post.createdAt|date('h:i' ) }}
							</p>

						</div>

			</div>

		{% endfor %}

	</main>


{% endblock %}
