{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/userpage.css') }}">
{% endblock %}

{% block title %}page de l'utilisateur
	{{app.user.username}}
{% endblock %}

{% block body %}

	<body class="main-container">

		<div class="infos">

			<div class="first-line">

				<div class="buton-back">
					<a href="{{ path("app_home") }}">retour</a>
				</div>

				<div class="deconnect">
					<a href="{{ path('app_logout') }}">se déconnecter</a>
				</div>

			</div>

			<div class="main-page">
				<div class="pp-username">
					<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="picture of {{ app.user.name }}">
					<div class="names">
						<p class="username">@{{ app.user.username }}</p>
						<p class="name">{{ app.user.name }}</p>
					</div>

				</div>

				<div class="description">
					{{ app.user.description }}
				</div>

				<div class="followPart">

					<ul>

						<li class="followers">
							<p>abonnés</p>
							<p></p>
							{# <p>{{ app.user.followers }}</p> #}

						</li>

						<li class="following">
							<p>abonnements</p>
							<p></p>
							{# <p>{{ app.user.following }}</p> #}

						</li>

						<li class="pins">
							<p>pins</p>
							<p></p>
							{# <p>{{ app.user.post }}</p> #}
						</li>

					</ul>

				</div>

				<div class="button">

					<div
						class="edit-user-buton">
						{# <a href="{{ path('app_edit_user') }}"</a> à mettre dans l'input ligne 17 ↓ #}
						<input type="button" value="modifier mon profile">
					</div>

					<hr>

				</div>

				<div class="buttons-posts">

					<div class="buttons">

						<div class="mes-pins">
							<button type="button">mes pins</button>
						</div>

						<div class="mes-pins">
							<button type="button">mes enregistrés</button>
						</div>

					</div>

					<div
						class="posts">{# {% for post in posts|reverse %}
																					            <div class="post">
																					                <li>
																					                <a href="{{ path('app_post_details', {'id': post.id}) }}">(page détail)</a>
																					                <p>{{ post.description }}</p>
																					                <p>publié le : {{ post.createdAt|date('d/m/Y' ) }} à {{ post.createdAt|date('h:i' ) }}</p>
																					                <hr>
																					                </li>
																					            </div>
																					        {% endfor %}  #}
					</div>
				</div>

			</body>

		{% endblock %}
