{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/userpage.css') }}">
{% endblock %}

{% block body %}

{% block title %}page de l'utilisateur {% endblock %}

<div class="infos">

    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="picture of {{ user.name }}">
    <p>@{{ app.user.username }}</p>
    <p>{{ app.user.name }}</p>
    <p>{{ app.user.description }}</p>
    <a href="{{ path('app_logout') }}">se déconnecter</a>
    <p>abonnés :</p>
    <p>abonnements :</p>

{# href="{{ path('app_edit_user') }} à mettre dans l'input ligne 17 ↓s #}
    <input type="button" value="modifier mon profile">
</div>

<div class="button-choixes-posts">

    <div class="button-choices">
        <input class='saved' type="button" value="mes enregistrés"> 
        <input class='pins' type="button" value="mes pins"> 
    </div>

</div>

<div class="posts">

    <div class="post">
    
        {# {% for posts in user | reverse %}
            <li>
                <p class='start-thread'>id du post: {{ post.id }} </p>
                <a href="{{ path('app_post_details', {'id': post.id}) }}"></a>
                {{ user.post }}
                <p>{{ post.description }}</p>
                <p>publié le :  {{ "now"|date("m/d/Y") }} à {{ "now"|date("h:i") }}</p>
                <hr>
            </li>
        {% endfor %}  #}

    </div>

</div>

<style>

    .button-choices .saved {
        background-color: red;
        padding: 5px;
        border-radius: 5px;
    }

    .button-choices .pins {
        background-color: red;
        padding: 5px;
        border-radius: 5px;
    }

    .post {
        backgroud-color: red;
        border: 2px solid black;
        width: 150px;
        height: 300px;
        border-radius: 20px;
    }
</style>

{% endblock %}
