{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/userpage.css') }}">
{% endblock %}

{% block body %}

{% block title %}page de l'utilisateur {% endblock %}

<div class="infos">

    {# <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="picture of {{ user.name }}"> #}
    <div class="nameUsername">
        <p id="name" >@{{ app.user.username }}</p>
        <p>{{ app.user.name }}</p>
    </div>

    <p id="description">{{ app.user.description }}</p>
</div>    

<div class="followPart">

    <ul class="follow">
        <li class="follow">
        <p>abonnés</p>
        <p>15 (code pur)</p>
        </li>

        <li class="follow">
        <p>abbonements</p>
        <p>17 (code pur)</p>
        </li>
    </ul>
</div>

<div class="options">
    <a href="{{ path('app_logout') }}">se déconnecter</a>

    {# href="{{ path('app_edit_user') }} à mettre dans l'input ligne 17 ↓s #}
    <input type="button" value="modifier mon profile">
</div>
<hr>

<div class="button-choixes-posts">

    <div class="button-choices">
        <input class='saved' type="button" value="mes enregistrés"> 
        <input class='pins' type="button" value="mes pins"> 
    </div>

</div>


<div class="posts">

    <div class="post">
    
        {# {% for posts in user | reverse %}
            <li>
                <p class='start-thread'>id du post: {{ post.id }} </p>
                <a href="{{ path('app_post_details', {'id': post.id}) }}"></a>
                {{ user.post }}
                <p>{{ post.description }}</p>
                <p>publié le :  {{ "now"|date("m/d/Y") }} à {{ "now"|date("h:i") }}</p>
                <hr>
            </li>
        {% endfor %}  #}

    </div>

</div>

<style>
    .nameUsername {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #name {
            margin-right: 30px
        }

        #description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

    }

    .followPart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #followers {
                margin-right: 30px;
            }

            .follow {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a {
            margin-right: 30px;
            border-radius: 7px;
            border: 2px black solid;
            padding: 2px 5px;
        }
    }

    .button-choices .saved {
        background-color: red;
        padding: 5px;
        border-radius: 5px;
    }

    .button-choices .pins {
        background-color: red;
        padding: 5px;
        border-radius: 5px;
    }

    hr {
        margin: 50px 350px;
    }
{% endblock %}
